#game{
    height: 270px;
    width: 270px;
    margin: 0 auto;
    margin-top: 50px;
}
input{
    height: 30px;
    width: 30px;
    text-align: center;
}
#title{
    display: flex;
    flex-wrap: nowrap;
}

@media all and (max-width: 500px){
    #game{
        height: 162px;
        width: 162px;
    }
    input{
        height: 18px;
        width: 18px;
    }
}
