*{
    background-color: #c2b490;
}
body{
    background-color: #c2b490;
}
#game{
    height: 540px;
    width: 540px;
    margin: 0 auto;
    margin-top: 50px;
    align-content: center;
    background-color: #353e4a;
}
#win{
    margin: 0 auto;
    width: 142px;
}
input{
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: #acb7ae;
}
#title{
    display: flex;
    flex-wrap: nowrap;
}
.row{
    margin: 0;
}
#numBtns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 35px;
}
.numBtn{
    font-size: 200%;
    background-color: #acb7ae;
    height: 55px;
    width: 50px;
    margin-top: 10px;
     margin-left: 1.5px;
     margin-right: 1.5px;
    text-align: center;
}
input{
    border: grey 1px solid;
    font-size: 250%;
}
.top{
    border-top: black 3px solid;
}
.left{
    border-left: black 3px solid;
}
.bottom{
    border-bottom: black 3px solid;
}
.right{
    border-right: black 3px solid;
}
#win{
    color: green;
}
#footer{
    margin-top: 80px;
    float: right;
    margin-right: 450px;
    align-content: center;
}
#footer #win{
    display: inline;
}
#footer .dropdown{
    display: inline;
    margin: 0 auto;
}

.dropbtn {
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    height: 40px;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    width: 100%;
    height: 40px;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    border: 0;
  }
  #easyBtn{
      background-color: green;
  }
  #mediumBtn{
    background-color: rgb(255, 255, 0);
  }
  #hardBtn{
      background-color: red;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



@media all and (max-width: 500px){
    #game{
        height: 162px;
        width: 162px;
    }
    input{
        height: 18px;
        width: 18px;
        font-size: 70%;
    }
    #numBtns{
        margin-left: 0;
    }
    .numBtn{
       height: 20px;
       width: 20px;
       font-size: 10px;
       font-size: 60%;
    }
}
